.cool-document
    width:100%;
    height:100%;
    position:absolute;

.cool-ui-component
    width:100px;
    height:100px;
    border:1px solid #ccc;
    position:absolute;
    .cool-content,.cool-canvas
        width:100%;
        height:100%;
        position:absolute;
    .cool-control
        height:8px;
        width:8px;
        border:1px solid #bbb;
        position:absolute;
        border-radius:4px;
    .cool-control-left-top
        left:0;
        top:0;
        margin-top:-5px;
        margin-left:-5px;
    .cool-control-right-top
        right:0;
        top:0;
        margin-top:-5px;
        margin-right:-5px;
    .cool-control-left-bottom
        left:0;
        bottom:0;
        margin-left:-5px;
        margin-bottom:-5px;
    .cool-control-right-bottom
        right:0;
        bottom:0;
        margin-bottom:-5px;
        margin-right:-5px;
    .cool-interface
        width:8px;
        height:8px;
        border:1px solid #ccc;
        position:absolute;
    .cool-interface-left
        left:-5px;
        top:50%;
        margin-top:-4px;
    .cool-interface-top
        left:50%;
        top:-5px;
        margin-left:-4px;
    .cool-interface-right
        right:-5px;
        top:50%;
        margin-top:-4px;
    .cool-interface-bottom
        bottom:-5px;
        left:50%;
        margin-left:-4px;

.cool-ui-line
    min-width:5px;
    min-height:5px;
    position:absolute;
    // border:1px solid #eee;
    .cool-canvas
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
    .cool-control
        width:8px;
        height:8px;
        overflow:hidden;
        border:1px solid #aaa;
        position:absolute;
        border-radius:4px;
    .cool-ui-line-start
        left:0px;
        top:0px;
        border-color: #f00;
    .cool-ui-line-end
        right:0px;
        top:0px;
        border-color: #0f0;

.cool-ui-module
    .cool-module-title
        width:100%;
        position:absolute;
        left:0;
        top:50%;
        transform:translateY(-50%);
        text-align:center;
        color:#888;
    .cool-module-inter
        position:absolute;
        border:1px solid #ccc;
        bottom: -120px;
        .inter-box
            position:absolute;
        .inter-title
            position:absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            color:#888;
        .cool-module-interface-box
            position:relative;
            .cool-module-interface
                position:absolute;
                width:8px;
                height:8px;
                border-radius:8px;
                border:1px solid #888;
            .cool-module-interface-title
                color:#777;
    .cool-module-inter-in
        width:200px;
        height:100px;
        top:-110px;
        left:0;
        .inter-box
            width:100%;
            left:0;
            top:0;
            .cool-module-interface
                top:-10px;
                left:50%;
                margin-left:-5px;
    .cool-module-inter-out
        width:200px;
        height:100px;
        left:0;
        bottom:-110px;
        .inter-box
            width:100%;
            left:0;
            bottom:0;
            .cool-module-interface
                bottom:-10px;
                left:50%;
                margin-left:-5px;
    .cool-module-inter-event
        width:100px;
        height:200px;
        right:-110px;
        top:-50px;
        .inter-box
            height:100%;
            right:0;
            top:0;
            .cool-module-interface
                right:-10px;
                top:50%;
                margin-top:-5px;
    .cool-module-inter-action
        width:100px;
        height:200px;
        left:-110px;
        top:-50px;
        .inter-box
            height:100%;
            left:0;
            top:0;
            .cool-module-interface
                left:-10px;
                top:50%;
                margin-top:-5px;
    .cool-module-inter-in
    .cool-module-inter-out
        .cool-module-interface-box
            float:left;
            width:30px;
            text-align:center;

        .cool-module-interface-title
            width:1rem;
            line-height:1rem;
            margin:auto;
    .cool-module-inter-event
    .cool-module-inter-action
        .cool-module-interface-title
            height:30px;
            line-height:30px;